{% extends "base.xml" %}

{% block content %}
    <taskdef
        name="checkstyle"
        resource="checkstyletask.properties" />

    <target name="checkstyle">
        <checkstyle
            config="{{ TEMPlATE_DIR }}/configs/checkstyle.config.xml">

        </checkstyle>
    </target>
{% endblock %}
