{% extends "base.xml" %}

{% block content %}
    <taskdef
        resource="checkstyletask.properties"
        classpathref="classpath" />

    <target name="measure">
        <checkstyle
            failOnViolation="false"
            config="{{ project_path }}/templates/config/checkstyle.config.xml"
            maxErrors="2147483647">

            <formatter type="xml" toFile="{{ target }}" />

            <fileset dir="{{ base_path }}">
                {% for file in files %}
                    <include name="{{ file.full_path() }}" />
                {% endfor %}
            </fileset>
        </checkstyle>
    </target>
{% endblock %}
