{% load filters %}

<div
    class='punchcard'
    {% if author %}data-author="{{ author|href }}"{% endif %}
    data-branch="{{ branch|href }}"></div>

{% if branch.measured %}
    <hr />

    <div
        class='metrics complexity centered'
        {% if author %}data-author="{{ author|href }}"{% endif %}
        data-branch="{{ branch|href }}">

        <h3>Complexity Metrics</h3>
    </div>

    <hr class='hidden-print' />

    <div
        class='metrics structure centered'
        {% if author %}data-author="{{ author|href }}"{% endif %}
        data-branch="{{ branch|href }}">

        <h3>Structural Metrics</h3>
    </div>

    <hr class='hidden-print' />

    <div
        class='churn centered hidden-print'
        {% if author %}data-author="{{ author|href }}"{% endif %}
        data-branch="{{ branch|href }}">

        <h3 class='hidden-print'>Code Churn</h3>
    </div>
{% endif %}
