{% load filters %}

<div class='metrics'>
    <div class='btn-group metric-toggle hidden-print'>
        <button type='button' class='btn btn-default btn-graphs'>Graphs</button>
        <button type='button' class='btn btn-default btn-stats'>Statistics</button>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".metrics").each(function() {
                var metric = $(this)

                metric.find(".btn-stats").click(function() {
                    metric.find(".graphs").hide();
                    metric.find(".statistics").show();

                    return false;
                });

                metric.find(".btn-graphs").click(function() {
                    metric.find(".graphs").show();
                    metric.find(".statistics").hide();

                    return false;
                });

                metric.find(".statistics").hide();
            });
        });
    </script>

    <div class='statistics'>
        {% include "includes/stats.html" %}
    </div>

    <div class='graphs'>
        {% include "includes/graphs.html" %}
    </div>
</div>
