.repos {
    table {
        tr {
            td {
                vertical-align: middle;

                &.status {
                    text-align: center;
                }
            }
        }
    }
}

.nav {
    margin-top: 20px;
}
