.repos {
    table {
        tr {
            .status {
                text-align: center;
            }

            td {
                vertical-align: middle;
            }

            &:last-child {
                td {
                    text-align: center;
                }
            }
        }
    }
}

.mask {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.5);

    .info {
        padding: 10px 15px;

        width: 15%;

        background: #fff;

        margin-left: auto;
        margin-right: auto;

        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);

        text-align: center;

        button {
            display: block;

            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
    }
}

.nav {
    margin-top: 20px;
}

.branch-info {
    padding: 10px 15px;

    h5 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.center {
    text-align: center;
}

.punchcard {
    table {
        thead {
            th {
                .center;

                &:first-child {
                    text-align: left;
                }
            }
        }

        tbody {
            .hour {
                vertical-align: middle;
            }

            .circle {
                position: relative;

                margin-left: auto;
                margin-right: auto;

                border-radius: 50%;

                background-color: black;
            }
        }
    }
}

.parts {
    overflow-x: hidden;
    white-space: nowrap;

    @height: 15px;

    height: 15px;

    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);

    .stat {
        height: @height;

        display: inline-block;

        border-left: 1px solid #fff;
        box-sizing: border-box;

        &:first-child {
            border-left: 0;
        }
    }
}

.legend {
    position: relative;

    .line {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .entry {
        display: inline-block;
        position: relative;

        height: 45px;

        min-width: 20%;

        font-size: 11px;
        text-overflow: ellipsis;

        white-space: nowrap;

        padding: 10px;

        border-left: 1px solid rgba(0, 0, 0, 0.2);

        .share, .type {
            display: inline;
            position: absolute;

            margin-left: 5px;
        }

        .share {
            opacity: 0.5;
            top: 21px;
        }

        .type {
            position: relative;

            text-transform: uppercase;
            top: 0;
        }

        .box {
            display: inline-block;
            position: relative;

            bottom: -1px;

            width: 10px;
            height: 10px;
        }
    }
}

.chart {
    .header {
        font-size: 24px;
    }

    .title {
        font-size: 30px;
        opacity: 0.5;

        text-anchor: end;
    }

    .axis {
        path, line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        &.x {
            .tick {
                text {
                    font-size: 11px;
                }
            }
        }

        &.y {
            path {
                display: none;
            }

            .tick {
                line {
                    stroke: #fff;
                    stroke-opacity: 0.2;
                }

                text {
                    font-size: 11px;
                }
            }
        }
    }

    .bar {
        fill: rgb(107, 162, 199);
    }

    .day {
        text-anchor: middle;

        font-size: 11px;

        fill: #fff;
    }
}

table {
    .split {
        border-left: 1px solid #ddd;
    }
}

.contributors {
    text-align: center;

    table {
        text-align: left;

        .revisions {
            width: 10%;
        }

        .rank {
            width: 5%;
            text-align: center;
        }

        .avatar {
            width: 40px;
            height: 40px;
        }

        .lang {
            font-weight: 200;

            text-align: center;
            text-transform: uppercase;
        }
    }
}

.metrics {
    .chart {
        .line {
            fill: none;
            stroke: steelblue;
        }

        .y.axis {
            .tick {
                line {
                    stroke: #000;
                    stroke-opacity: 0.1;
                }
            }
        }
    }
}

.churn {
    .axis {
        path, line {
            fill: none;
            stroke: #000;

            shape-rendering: crispEdges;
        }
    }

    .area {
        fill: steelblue;
    }
}
