{% extends "repo.html" %}

{% block content %}

    <a href='{% url "parsr.views.repo" repo_id=author.repo.id %}'>
        <i class='icon-angle-left'></i> Back to repo
    </a>
    <h1>{{ author.name }}</h1>

    <hr />

    <div
        class='stats'
        data-repo="{{ author.repo.id }}"
        data-author="{{ author.id }}"
        data-branch="{{ branch.id }}"></div>

    <hr />

    <div
        class="commits"
        data-repo="{{ author.repo.id }}"
        data-author="{{ author.id }}"
        data-branch="{{ branch.id }}"></div>

    <hr />

    <div
        class='punchcard'
        data-repo="{{ author.repo.id }}"
        data-author="{{ author.id }}"
        data-branch="{{ branch.id }}"></div>

{% endblock %}
