{% extends "repo.html" %}

{% load filters %}

{% block branch %}
    <h5>
        <i class='icon-code-fork'></i>
        {{ branch.name }}
    </h5>
{% endblock %}

{% block content %}

    <a href='{% url "parsr.views.repo.index" repo_id=branch.repo.id branch_id=branch.id %}'>
        <i class='icon-angle-left'></i> Back to repo
    </a>

    <h1>
        {% gravatar author.email %}
        {{ author.name }}

        {% if author.email %}
            <small>({{ author.email }})</small>
        {% endif %}
    </h1>

    <hr />

    <div
        class='stats'
        data-author="{{ author.href }}"
        data-branch="{{ branch.href }}"></div>

    <hr />

    {% if branch.measured %}
        <div
            class='metrics centered'
            data-author="{{ author.href }}"
            data-branch="{{ branch.href }}">

            <h3>Complexity Metrics</h3>
        </div>

        <hr />

        <div
            class='churn centered'
            data-author="{{ author.href }}"
            data-branch="{{ branch.href }}">

            <h3>Code Churn</h3>
        </div>

        <hr />
    {% endif %}

    <div
        class='punchcard'
        data-author="{{ author.href }}"
        data-branch="{{ branch.href }}"></div>

{% endblock %}

{% block specific %}{% endblock %}

{% block script %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function() {
            var metrics = new analyzr.plugins.graph.Metrics(".metrics", {
                height: 400,
                margins: {
                    top: 40,
                    left: 100,
                    right: 100,
                    bottom: 40
                }
            });
            metrics.load();

            var churn = new analyzr.plugins.graph.CodeChurn(".churn", {
                height: 300,
                margins: {
                    top: 20,
                    left: 40,
                    bottom: 40
                }
            });
            churn.load();
        });
    </script>
{% endblock %}
