{% extends "repo.html" %}

{% load filters %}

{% block branch %}
    <h5>
        <i class='icon-code-fork'></i>
        {{ branch.name }}
    </h5>
{% endblock %}

{% block content %}

    <a href='{% url "parsr.views.repo" repo_id=branch.repo.id branch_id=branch.id %}'>
        <i class='icon-angle-left'></i> Back to repo
    </a>

    <h1>
        {% gravatar author.email %}
        {{ author.name }}

        {% if author.email %}
            <small>({{ author.email }})</small>
        {% endif %}
    </h1>

    <hr />

    <div
        class='stats'
        data-author="{{ author.id }}"
        data-branch="{{ branch.id }}"></div>

    <hr />

    {% if branch.measured %}
        <div
            class='metrics'
            data-author="{{ author.id }}"
            data-branch="{{ branch.id }}"></div>

        <hr />

        <div
            class='churn'
            data-author="{{ author.id }}"
            data-branch="{{ branch.id }}"></div>

        <hr />
    {% endif %}

    <div
        class="commits"
        data-author="{{ author.id }}"
        data-branch="{{ branch.id }}"></div>

    <hr />

    <div
        class='punchcard'
        data-author="{{ author.id }}"
        data-branch="{{ branch.id }}"></div>

{% endblock %}
