{% load compress %}

<!DOCTYPE html>
<html land="en">
<head>
    <title>Analyzr</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,300' rel='stylesheet' type='text/css'>

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/lib/datepicker.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/css/analyzr.css" />
    {% endcompress %}
</head>
<body>
    {% csrf_token %}

    <script data-main="{{ STATIC_URL }}js/main" src="{{ STATIC_URL }}vendor/bower/requirejs/require.js"></script>

</body>
</html>
