<!DOCTYPE html>
<html land="en">
<head>
    <title>Analyzr</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/lib/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/css/analyzr.css" />
</head>
<body>
    {% csrf_token %}

    <div class="container">
        <ul class='nav nav-pills'>
            <li>
                <a href='{% url "parsr.views.index" %}'>
                    <i class='icon-code'></i>
                    Analyzr
                </a>
            </li>
            <li class='pull-right branch-info'>
                {% block branch %}{% endblock %}
            </li>
        </ul>

        <hr />

        {% block content %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/d3.v3.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/class.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/observeable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mask.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/component.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/graph.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dialog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/punchcard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fileStatistics.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/commits.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/contributors.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/metrics.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/churn.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/add.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/analyzr.js"></script>

    {% block script %}
    {% endblock %}
</body>
</html>
