<!DOCTYPE html>
<html land="en">
<head>
    <title>Analyzr</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/lib/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/lib/datepicker.css" />

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/css/analyzr.css" />
</head>
<body>
    {% csrf_token %}

    <div class="container">
        <ul class='nav nav-pills'>
            <li>
                <a href='{% url "parsr.views.app.index" %}'>
                    <i class='icon-code'></i>
                    Analyzr
                </a>
            </li>
            <li class='pull-right branch-info'>
                {% block branch %}{% endblock %}
            </li>
        </ul>

        <hr />

        {% block content %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/d3.v3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-datepicker.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/core/class.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/observeable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/component.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core/mask.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/dialog.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/filter.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/punchcard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/repositories.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/contributors.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/add.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/fileStatistics.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/graph/graph.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/graph/commits.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/graph/metrics.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/graph/churn.js"></script>

    {% block specific %}{% endblock %}
    {% block script %}{% endblock %}
</body>
</html>
