{% extends "base.html" %}

{% block active %}
    <li class='active'>Add repository</li>
{% endblock %}

{% block content %}
	<form
        class='add-repo form-horizontal'
        role='form'
        method='post'
        autocomplete="off"
        action='{% url "parsr.views.repo.save" %}'>

		{% include "includes/repo_form.html" %}

        <div class='form-group'>
            <div class='col-sm-offset-2 col-sm-10'>
                <a href='{% url "parsr.views.app.index" %}' class='btn btn-default'>Cancel</a>
                <input type='submit' class='btn btn-primary' value='Add repoistory' />
            </div>
        </div>
	</form>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			var form = new analyzr.plugins.AddRepoForm(".add-repo", "#id_anonymous");
			form.update();
		});
	</script>
{% endblock %}
