{% extends "create.html" %}

{% block active %}
    <li class='active'>Edit {{ repo }}</li>
{% endblock %}

{% block content %}
    <form
        class='add-repo form-horizontal'
        role='form'
        method='post'
        action='{% url "parsr.views.repo.update" repo_id=repo.id %}'>

        {% include "includes/repo_form.html" %}

        <div class='form-group'>
            <div class='col-sm-offset-2 col-sm-10'>
                <a href='{% url "parsr.views.app.index" %}' class='btn btn-default'>Cancel</a>
                <input type='submit' class='btn btn-primary' value='Update repoistory' />
            </div>
        </div>
    </form>
{% endblock %}
