{% extends "base.html" %}

{% block actions %}
    <hr />

    <a href='{% url "parsr.views.repo.create" %}' class='btn btn-primary'>
        <i class='icon-plus'></i>
        Add Repository
    </a>
{% endblock %}

{% block content %}
    <div class='repos'></div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            var repositories = new analyzr.plugins.Repositories(".repos");
            repositories.load();
        });
    </script>
{% endblock %}
