{% extends "base.html" %}

{% block content %}
    <ul class='nav nav-tabs nav-justified'>
        <li class='active'>
            <a href='#' data-target='.overview'>Overview</a>
        </li>
        <li>
            <a href='#' data-target='.contrib'>Contributors</a>
        </li>
    </ul>

    <div class='overview'>
        <table class="table">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Last analyzed</th>
                    <th>Age</th>
                    <th>Revisions</th>
                    <th>Authors</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ repo.url }}</td>
                    <td>{{ repo.analyzed_date }}</td>
                    <td>{{ repo.age }}</td>
                    <td>{{ repo.revision_count }}</td>
                    <td>{{ repo.author_count }}</td>
                </tr>
            </tbody>
        </table>

        <hr />

        <div class='stats' repo="{{ repo.id }}"></div>

        <hr />

        <div class='commits' repo="{{ repo.id }}"></div>
    </div>

    <div class='contrib'>
        <div class='contributors' repo='{{ repo.id }}'></div>

        <hr />

        <div class='punchcard' repo='{{ repo.id }}'></div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            CommitHistory.auto(".commits", {
                margins: {
                    top: 50,
                    left: 40,
                    bottom: 20
                }
            });

            Contributors.auto(".contributors");
        })
    </script>
{% endblock %}
