{% extends "base.html" %}

{% block branch %}
    <i class='icon-code-fork'></i>
    <select data-repo="{{ repo.id }}" class='branch' value="{{ branch.id }}">
        {% for b in repo.branch_set.all %}
            {% if b.analyzed %}
                {% if b.id == branch.id %}
                    <option value='{{ b.id }}' selected='selected'>{{ b.name }}</option>
                {% else %}
                    <option value='{{ b.id }}'>{{ b.name }}</option>
                {% endif %}
            {% endif %}
        {% endfor %}
    </select>
{% endblock %}

{% block content %}
    <ul class='nav nav-pills'>
        <li class='active'>
            <a href='#' data-target='.overview'>Overview</a>
        </li>
        <li>
            <a href='#' data-target='.contrib'>Contributors</a>
        </li>
    </ul>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th colspan='3'>Repository</th>
                <th colspan='4' class='split'>Branch</th>
            </tr>
            <tr>
                <th>Location</th>
                <th>Branches</th>
                <th>Authors</th>
                <th class='split'>Name</th>
                <th>Last analyzed</th>
                <th>Age</th>
                <th>Authors</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ repo.url }}</td>
                <td>{{ repo.branch_count }}</td>
                <td>{{ repo.author_count }}</td>
                <td class='split'>{{ branch.name }}</td>
                <td>{{ branch.analyzed_date }}</td>
                <td>{{ branch.age }}</td>
                <td>{{ branch.author_count }}</td>
            </tr>
        </tbody>
    </table>

    <div class='overview'>
        <div
            class='stats'
            data-repo="{{ repo.id }}"
            data-branch="{{ branch.id }}"></div>

        <hr />

        <div
            class='commits'
            data-repo="{{ repo.id }}"
            data-branch="{{ branch.id }}"></div>
    </div>

    <div class='contrib'>
        <div
            class='contributors'
            data-repo='{{ repo.id }}'
            data-branch="{{ branch.id }}"></div>

        <hr />

        <div
            class='punchcard'
            data-repo='{{ repo.id }}'
            data-branch="{{ branch.id }}"></div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            CommitHistory.auto(".commits", {
                height: 300,
                margins: {
                    top: 50,
                    left: 40,
                    bottom: 20
                }
            });

            Contributors.auto(".contributors");

            Metrics.auto(".metrics", {
                height: 400,
                margins: {
                    top: 20,
                    left: 100,
                    right: 100,
                    bottom: 40
                }
            });

            CodeChurn.auto(".churn", {
                height: 300,
                margins: {
                    top: 20,
                    left: 40,
                    bottom: 20
                }
            });
        })
    </script>
{% endblock %}
