{% extends "base.html" %}

{% load filters %}

{% block active %}
    <li class='active'>{{ branch.repo.url }} ({{ branch.name }})</li>
{% endblock %}

{% block branch %}
    <i class='icon-code-fork hidden-print'></i>
    <select data-repo="{{ repo|href }}" class='branch hidden-print' value="{{ branch|href }}">
        {% for b in repo.branches.all %}
            {% if b.analyzed %}
                {% if b.id == branch.id %}
                    <option value='{{ b|href }}' selected='selected'>{{ b.name }}</option>
                {% else %}
                    <option value='{{ b|href }}'>{{ b.name }}</option>
                {% endif %}
            {% endif %}
        {% endfor %}
    </select>
{% endblock %}

{% block content %}

    <div class='container hidden-print'>
        <table class="table">
            <thead>
                <tr>
                    <th colspan='2'>Repository</th>
                    <th colspan='5' class='split'>Branch</th>
                </tr>
                <tr>
                    <!-- <th>Location</th> -->
                    <th>Branches</th>
                    <th>Authors</th>
                    <th class='split'>Name</th>
                    <th>Last analyzed</th>
                    <th>Last measured</th>
                    <th>Age</th>
                    <th>Authors</th>
                    <th>Author Ratio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td>{{ repo.url }}</td> -->
                    <td>{{ repo.branch_count }}</td>
                    <td>{{ repo.author_count }}</td>
                    <td class='split'>{{ branch.name }}</td>
                    <td>{{ branch.analyzed_date }}</td>
                    <td>{{ branch.measured_date }}</td>
                    <td>{{ branch.age }}</td>
                    <td>{{ branch.author_count }}</td>
                    <td>{{ branch.author_ratio }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr class='hidden-print' />

    <div
        class='contributors hidden-print'
        data-repo='{{ repo|href }}'
        data-branch="{{ branch|href }}"></div>

    <hr class='hidden-print' />

    <div class='container'>
        <div
            class='impact hidden-print'
            data-branch='{{ branch|href }}'></div>

        <hr class='hidden-print' />

        {% include "includes/metrics.html" %}
    </div>
{% endblock %}

{% block specific %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("select.branch").change(function() {
                var branch = $(this).find("option:selected").attr("value");
                var repo = $(this).data("repo");

                window.location.href = repo + branch;
            });

            var contributors = new analyzr.plugins.Contributors(".contributors");
            contributors.load();
        });
    </script>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".punchcard").each(function() {
                var punchcard = new analyzr.plugins.Punchcard(this);
                punchcard.load();
            });

            $(".stats").each(function() {
                var stats = new analyzr.plugins.FileStatistics(this);
                stats.load();
            });

            $(".metrics.complexity").each(function() {
                var complexity = new analyzr.plugins.graph.metrics.ComplexityMetrics(this, {
                    height: 400,
                    margins: {
                        top: 40,
                        left: 100,
                        right: 100,
                        bottom: 40
                    }
                });
                complexity.load();
            });

            $(".metrics.structure").each(function() {
                var structure = new analyzr.plugins.graph.metrics.StructuralMetrics(this, {
                    height: 400,
                    margins: {
                        top: 40,
                        left: 100,
                        right: 100,
                        bottom: 40
                    }
                });
                structure.load();
            });

            $(".churn").each(function() {
                var churn = new analyzr.plugins.graph.CodeChurn(this, {
                    height: 300,
                    margins: {
                        top: 20,
                        left: 40,
                        bottom: 40
                    }
                });
                churn.load();
            });

            $(".score").each(function() {
                var score = new analyzr.plugins.Score(this);
                score.load();
            });

            $(".impact").each(function() {
                var impact = new analyzr.plugins.graph.ContributerImpact(this, {
                    margins: {
                        top: 20,
                        left: 40,
                        bottom: 40
                    }
                });
                impact.load();
            })
        });
    </script>
{% endblock %}
