{% extends "base.html" %}

{% load filters %}

{% block breadcrumb %}
    {{ block.super }}
{% endblock %}

{% block active %}
    <li class='active'>Revision info for {{ revision.identifier }} on {{ revision.branch }}</li>
{% endblock %}

{% block content %}
    <div class='container'>
        <div class="well">{{ revision.message|linebreaks }}</div>

        <table class='table table-bordered'>
            <tbody>
                <tr>
                    <th>Identifier:</th>
                    <td>{{ revision.identifier }}</td>
                </tr>
                <tr>
                    <th>Parent:</th>
                    <td>
                        <a href="{% url 'parsr.views.revision.view' revision.get_previous.id %}">
                            {{ revision.get_previous.identifier}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Author:</th>
                    <td>
                        <a href="{% url 'parsr.views.author.view' revision.branch.id revision.author.id %}">
                            {{ revision.author }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td>{{ revision.date }}</td>
                </tr>
                <tr>
                    <th>Branch:</th>
                    <td>
                        <a href="{% url 'parsr.views.branch.view' revision.branch.id %}">
                            {{ revision.branch }}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        {% with revision.diff as diff %}
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th class='center'>Insertions</th>
                        <th class='center'>Deletions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in diff %}
                        <tr>
                            <td>
                                <a href='#{{ file.name }}'>{{ file.name }}</a>
                            </td>
                            <td class='center'>{{file.lines_added}}</td>
                            <td class='center'>{{file.lines_removed}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr />

            {% with revision.stats as stats %}
                <table class='table'>
                    <thead>
                        <tr>
                            <th>CC</th>
                            <th>HSV</th>
                            <th>HSD</th>
                            <th>Ce</th>
                            <th>Ca</th>
                            <th>SLOC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ stats|get:"cyclomatic_complexity_delta" }}</td>
                            <td>{{ stats|get:"halstead_volume_delta" }}</td>
                            <td>{{ stats|get:"halstead_difficulty_delta" }}</td>
                            <td>{{ stats|get:"fan_out_delta" }}</td>
                            <td>{{ stats|get:"fan_in_delta" }}</td>
                            <td>{{ stats|get:"sloc_delta" }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endwith %}

            {% for file in diff %}
                <h4>
                    <a name='{{ file.name }}'></a>
                    {{ file.name }}
                    <div class='pull-right'>
                        <span class='added'>
                            <i class='icon icon-plus'></i>
                            {{ file.lines_added }}
                        </span>
                        <span class='removed'>
                            <i class='icon icon-minus'></i>
                            {{ file.lines_removed }}
                        </span>
                    </div>
                </h4>
                <div class='diff'>{{ file.diff|safe }}</div>
            {% endfor %}
        {% endwith %}
    </div>
{% endblock %}
